.turn-feed-div {
    position: relative;
    display: table;
    width: auto;
    min-width: 350px;
    max-width: 20em;
    height: 35em;
    background-color: rgb(240, 240, 255);
    border: 2px solid black;
}
