.pokemon-swap {
    display: table;
    margin: 0 auto;
}

.pokemon-swap-row {
    height: 11em;
    width: 75em;
    justify-content: center;
    align-items: center;
}

.row::after {
    display: table;
}

.select-pokemon {
    width: 100px;
}