.battle-factory {
    display: table;
    margin: 0 auto;
    margin-top: 1em;
}

.teambuilder-row {
    height: 9em;
}

.teambuilder-row::after {
    content: "";
    clear: both;
    display: table;
}

.select-pokemon {
    width: 100px;
}