.turn-div {
    border: 2px solid slategrey;
    overflow-y: auto;
    padding-left: 5px;
    padding-bottom: 7px;
}

.turn-heading {
    margin-top: -2px;
    margin-bottom: -5px;
}

.turn-text-line {
    margin-top: 10px;
    margin-bottom: 0px;
}

.turn-button {
    margin-top: 5px;
}