.battle {
    display: flex;
    padding-left: 1em;
}

.pokemon-grid {
    display: grid;
    grid-template-columns: auto auto;
    float: left;
}

.opponent {
    float: right;
}

.player {
    float: left;
}

.pokemon-moves {
    display: flex;
}

.turn-feed {
    float: right;
}
