.battle {
    
}

.pokemon-grid {
    display: grid;
    grid-template-columns: auto auto;
    float: left;
}

.opponent {
    float: right;
}

.player {
    float: left;
}

.pokemon-moves {
    display: flex;
}

.textbox-div {
    display: table;
    width: 300px;
    height: auto;
    border: 2px solid black;
}

.turn-feed {
    float: right;
}