.battle {
    display: flex;
    padding: 1em;
}

.pokemon-grid {
    display: grid;
    grid-template-columns: auto auto;
    float: left;
}

.opponent {
    float: right;
}

.player {
    float: left;
}

.pokemon-moves {
    display: flex;
}

.turn-feed {
    height: 600px;
    float: right;
    border: 2px solid black;
}
